.font-size-72 {
    font-size: 72px !important;
}

.font-size-40 {
    font-size: 40px !important;
}

.nf {
    background-image: url(../img/404.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.provlogin img {
    max-width: 100%;
    height: auto;
}

.brandlogin img {
    max-width: 100%;
    height: auto;
}


/* Input Anim 

.animinput-inner {
    width: 100%;
    background: slategray !important;
    box-shadow: 0px 0px 0px 2px transparent !important;
    color: #eca29b !important;
    -webkit-transition: box-shadow 0.3s !important;
    transition: box-shadow 0.3s !important;
}

.animinput-inner::after {
    color: #ffc107 !important;
    background: slategray !important;
}

.animinput-inner:focus {
    box-shadow: 0px 0px 0px 2px #ffab24 !important;
    animation: anim-shadow 0.3s forwards !important;
    pointer-events: painted;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 100px 50px;
        opacity: 0;
    }
}


 Input Anim */

@media only screen and (min-width: 576px) {
    .font-size-sm-72 {
        font-size: 72px !important;
    }
    .font-size-sm-40 {
        font-size: 40px !important;
    }
    .nf {
        background-image: url(../img/404-mobile.png);
        background-repeat: repeat-y;
        background-size: cover;
    }
    .brandlogin img {
        max-width: 40%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .font-size-md-72 {
        font-size: 72px !important;
    }
    .font-size-md-40 {
        font-size: 40px !important;
    }
}

@media (min-width: 992px) {
    .font-size-lg-72 {
        font-size: 72px !important;
    }
    .font-size-lg-40 {
        font-size: 40px !important;
    }
}

@media (min-width: 1200px) {
    .font-size-xl-72 {
        font-size: 72px !important;
    }
    .font-size-xl-40 {
        font-size: 40px !important;
    }
    .nf {
        background-image: url(../img/404.jpg);
        background-repeat: no-repeat;
    }
    .brandlogin img {
        max-width: 100%;
        height: auto;
    }
}